.HelpIcon {
	flex: 1;
	margin-left: auto;
}

.HamburgerIconWrapper {
	float: right;
	width: 50px;
	height: 50px;
	transition: all 0.25s;
	transform-origin: 50% 50%;
}

.HamburgerIconWrapper:hover {
	transform: scale(0.8);
}
