.Note {
	position: absolute;
	background-color: #fafae8;
	box-shadow: -2px 2px 2px #444444, 1px 0px 2px #444444;
	min-width: 150px;
	min-height: 150px;
	max-width: 100%;
	max-height: 100%;
	width: 250px;
	height: 250px;
	resize: both;
	overflow: hidden;
}

.NoteTextField {
	height: calc(100% - 35px);
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: none;
	resize: none;
	background-color: inherit;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

.NoteHeader {
	background-color: #ffffa0;
	height: 35px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.MenuButtonWrapper {
	margin: auto 5px auto auto;
	width: 30px;
	height: 30px;
	transition: all 0.25s;
	transform-origin: 50% 50%;
}

.MenuButtonWrapper:hover {
	transform: scale(0.8);
}

.ExitButtonWrapper {
	margin: auto 5px auto 0;
	width: 20px;
	height: 20px;
	transition: all 0.25s;
	transform-origin: 50% 50%;
}

.ExitButtonWrapper:hover {
	transform: scale(0.8);
}
