body {
	background-color: beige;
	font-family: "Trebuchet MS", sans-serif;
}

.HeaderBar {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.filler {
	flex: 1;
}

.TitleText {
	margin: auto;
	padding-top: 5px;
	padding-left: 10px;
}
